:root {
  font-size: calc(0.5em + 1vw);

  --clr-black: #181719;
  --clr-white: #ffffff;
  --clr-dark-gray: #828282;
  --clr-light-gray: #a9a9a9;

  --fw-extra-light: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
p,
h1,
h2,
ul {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  background-color: var(--clr-black);
  color: var(--clr-white);
  padding: 1.2rem 0.75rem;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--clr-white);
}

ul {
  list-style-type: none;
  padding: 0;
}

.flow > * + * {
  margin-top: 1.5rem;
}

.nav-open .nav {
  transform: translate(0);
}

.nav-open .menu-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(45deg);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-8px);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  text-transform: uppercase;
  font-family: 'Crimson Pro', serif;
  font-weight: var(--fw-extra-light);
  font-size: 0.875rem;
  border: 1px solid var(--clr-white);
  padding: 0.2em 0.5em;
}

.menu-toggle {
  z-index: 2;
  padding: 1.5em;
  border: none;
  background: transparent;
  cursor: pointer;
  position: absolute;
  top: 5.5px;
  right: -10px;
}

@media (min-width: 48em) {
  .menu-toggle {
    display: none;
  }
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  width: 1.5em;
  height: 2px;
  background-color: var(--clr-white);
}

.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  transition: transform 0.6s cubic-bezier(0.5, 1, 0.89, 1);
}

.hamburger::before {
  top: 8px;
}

.hamburger::after {
  bottom: 8px;
}

.nav {
  transition: transform 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: translateX(100%);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: var(--clr-black);
}

@media (min-width: 48em) {
  .nav {
    position: initial;
    transform: translate(0);
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media (min-width: 48em) {
  .nav__list {
    flex-direction: row;
    height: initial;
  }
}

.nav__item + .nav__item {
  margin-top: 2rem;
}

@media (min-width: 48em) {
  .nav__item + .nav__item {
    margin-top: 0;
    margin-left: 5rem;
  }
}

.nav__link {
  font-weight: var(--fw-medium);
  font-size: 1.125rem;
}

.nav__link.selected {
  font-weight: var(--fw-bold);
}

.main {
  margin-top: 3rem;
}

@media (min-width: 48em) {
  .main {
    margin-top: 8rem;
  }
}

@media (min-width: 48em) {
  .banner {
    display: flex;
  }

  .banner > * + * {
    margin-left: 5rem;
  }
}

.banner__title {
  font-family: 'Lora', serif;
  font-weight: var(--fw-regular);
  font-size: 3rem;
  line-height: 0.8;
}

.banner__description {
  font-weight: var(--fw-light);
  font-size: 1.5rem;
}

.read_more-link {
  font-weight: var(--fw-semi-bold);
  font-size: 1.125rem;
  display: inline-block;
}

.arrow-icon {
  margin-left: 0.9rem;
}

.banner__img-container {
  margin-top: 2rem;
  position: relative;
}

@media (min-width: 48em) {
  .banner__img-container {
    margin-top: 0;
  }
}

.caption {
  background-color: var(--clr-black);
  width: 18.75rem;
  padding: 0.875rem 1.1875rem 1.5625rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  bottom: -6.5rem;
  right: 1rem;
}

.person {
  display: flex;
}

.person__details {
  margin-left: 1rem;
}

.person__img {
  width: 3.875rem;
  height: 3.875rem;
  border-radius: 50%;
}

.person__name,
.person__profession {
  font-weight: var(--fw-medium);
}

.person__name {
  font-size: 0.875rem;
}

.person__profession {
  color: var(--clr-dark-gray);
  font-size: 0.75rem;
}

.caption__title {
  font-family: 'Lora', serif;
  font-weight: var(--fw-bold);
  font-size: 1.5rem;
  margin-top: 1.25rem;
  width: 13rem;
}

.footer {
  margin-top: 10rem;
  text-align: center;
}

.footnote {
  color: var(--clr-light-gray);
  font-weight: var(--fw-semi-bold);
  font-size: 0.875rem;
}
