:root {
  font-size: calc(0.5em + 1vw);

  --clr-black: #181719;
  --clr-white: #ffffff;
  --clr-dark-gray: #828282;
  --clr-light-gray: #a9a9a9;

  --fw-extra-light: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
p,
h1,
h2,
ul {
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  background-color: var(--clr-black);
  color: var(--clr-white);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--clr-white);
}

ul {
  list-style-type: none;
  padding: 0;
}

.logo {
  text-transform: uppercase;
  font-family: 'Crimson Pro', serif;
  font-weight: var(--fw-extra-light);
  font-size: 0.875rem;
}

.nav__link {
  font-weight: var(--fw-medium);
  font-size: 1.125rem;
}

.nav__link.selected {
  font-weight: var(--fw-bold);
}

.banner__title {
  font-family: 'Lora', serif;
  font-weight: var(--fw-regular);
  font-size: 3rem;
}

.banner__description {
  font-weight: var(--fw-light);
  font-size: 1.5rem;
}

.read_more-link {
  font-weight: var(--fw-semi-bold);
  font-size: 1.125rem;
}

.person__name,
.person__profession {
  font-weight: var(--fw-medium);
}

.person__name {
  font-size: 0.875rem;
}

.person__profession {
  color: var(--clr-dark-gray);
  font-size: 0.75rem;
}

.caption__title {
  font-family: 'Lora', serif;
  font-weight: var(--fw-bold);
  font-size: 1.5rem;
}

.footnote {
  color: var(--clr-light-gray);
  font-weight: var(--fw-semi-bold);
  font-size: 0.875rem;
}
